<!DOCTYPE html>
<html>
<head>
    <title>WhiteBoard | Real Time Code Collaboration IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <script src="https://use.fontawesome.com/795dd48394.js"></script>

    <style type="text/css">
        .x { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .left-icons{
        display: block;
        margin:auto;
        width: 45%;
        padding-top: 30%;
        padding-bottom: 8%;
    }
    .logo{
        padding-bottom: 0%;
    }
    li{
        color: white;
        text-align: center;
        font-family: Josefin Sans;
        font-size: 16px;
    }
    i{
        font-family: Josefin Sans;
    }
    .footerbtn{
        padding: 8px 10px;
    }
    </style>
</head>
<body>
    {{{ body }}}
</body>
</html>