<!DOCTYPE html>
<html>
<head>
    <title>WhiteBoard | Real Time Code Collaboration IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <script src="https://use.fontawesome.com/795dd48394.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/whiteboard.css">

    
</head>
<body>
    {{{ body }}}
</body>
</html>